/*.row {
    display: table;
}

[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}*/

.row {
    overflow: hidden;
}

/*[class*="col-"] {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}*/

/*[class*="col-"] {
    padding-top: 10px;
}*/

.main_column {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    padding-top: 10px;
}

.create_comment.main_column {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.wrapper {
    margin-bottom: 20px;
}

.order {
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

[name="order_direction"] {
    width: 100%;
}

[name="order_by"] {
    width: 100%;
}

.order .narrow-sides {
    padding: 0 5px 5px;
}

/*.order div:first-child {
    padding-left: 0;
}

.order div:last-child {
    padding-right: 0;
}*/

#form_comment input {
    width: 100%;
}

#form_comment textarea {
    width: 100%;
}

/*.create_comment .row {
    margin-bottom: 10px;
}*/

/*.create_comment {
    background-color: #d1d1d1;
}*/

.list_caption {
    background-color: #222222;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.messages {
    margin-bottom: 20px;
}

.comment_preview_btn {
    padding-bottom: 5px;
}

.create_comment .panel {
    margin-bottom: 0;
}

.help-block-error {
    display: none;
}

.image:hover {
    cursor: pointer;
}

.name-email {
    font-weight: 700;
}

.name-email a {
    text-decoration-style: dashed;
    font-style: italic;
}

#preview_messages {
    padding: 10px;
}

#preview_messages_wrapper {
    display: none;
}

.comment_panel {
    border: 1px outset #EEE;
    padding: 5px 10px 13px;
}

.thumb_image {
    float: right;
}

.text .value {
    background-color: #EEE;
    font-size: 17px;
}

#preview_button {
    padding-bottom: 5px;
}

.image {
    margin: 10px 20px;
}