/*.row {
    display: table;
}

[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}*/

.row {
    overflow: hidden;
}

/*[class*="col-"] {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}*/

/*[class*="col-"] {
    padding-top: 10px;
}*/

.main_column {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    padding-top: 10px;
}

.wrapper {
    margin-bottom: 20px;
}

.order {
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

[name="order_direction"] {
    width: 100%;
}

[name="order_by"] {
    width: 100%;
}

.order .narrow-sides {
    padding: 0 5px 5px;
}

/*.order div:first-child {
    padding-left: 0;
}

.order div:last-child {
    padding-right: 0;
}*/

#form_comment input {
    width: 100%;
}

#form_comment textarea {
    width: 100%;
}

.create_comment .row {
    margin-bottom: 10px;
}

.create_comment {
    background-color: #d1d1d1;
}

.list_caption {
    background-color: #222222;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.messages {
    margin-bottom: 20px;
}